@(request: play.api.mvc.Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], error: Option[String] = None)
@import java.time.Instant
<html>
    <head>
        <title>Authorised</title>
        <style>
            .avatar {
                max-width: 200px;
            }
        </style>
    </head>
    <body>
        <h1>Authorised</h1>
        <p>This is an authorised page of the example application.</p>
        <p>It uses an AuthAction so will always have a user.</p>
        <p>In this case the logged in user is <b>@request.user.username</b>.</p>
        @request.user.avatarUrl.map { avatarUrl =>
            <p><img class="avatar" src="@avatarUrl" alt="@request.user.firstName" /></p>
        }
        <p>The expiry time is @{Instant.ofEpochSecond(request.user.exp)}</p>
        <p>You can go to the <a href="@routes.Login.login()">login page</a>
            or <a href="@routes.Login.logout()">logout</a>.</p>
    </body>
</html>