@(request: com.gu.googleauth.AuthenticatedRequest[AnyContent], error: Option[String] = None)

<html>
    <head><title>Authorised</title></head>
    <body>
        <h1>Authorised</h1>
        <p>This is an authorised page of the example application.</p>
        <p>It uses an AuthAction so will always have a user.</p>
        <p>In this case the logged in user is @request.identity.get</p>
        <p>You can go to the <a href="@routes.Login.login()">login page</a>,
            a <a href="@routes.Application.authenticated()">page that requires authentication</a>
            or <a href="@routes.Login.logout()">logout</a>.</p>
    </body>
</html>