@(error: Option[String] = None)

<html>
    <head><title>Login</title></head>
    <body>
        <h1>Login Page</h1>
        <p>Click the button below to login.</p>
        <p>This page is used to redirect failed login attempts and display any errors.</p>
        @error.map { message =>
            <p>The error was: @message</p>
        }
        <form action="@routes.Login.loginAction()" method="get">
            <input value="Log In" type="submit">
        </form>
        <p>You can also go to a <a href="@routes.Application.authenticated()">page that requires authentication</a>
            or <a href="@routes.Login.logout()">logout</a>.</p>
    </body>
</html>